@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shopping List APP</h1>
    <p class="lead">The only shopping list you will ever need!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Go to Shopping Lists &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coupons</h2>
        <p>
            Save money and save for something fun!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Coupons &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Store Ads</h2>
        <p>All the local ads in one click!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ads &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recipes and Lifestyle</h2>
        <p>Be inspired by some recipes as you create your shopping list or think about a healthier lifestyle to come up with shopping list items.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Pinterest &raquo;</a></p>
    </div>
</div>